<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Chat App</title>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
      <link rel="stylesheet" href="{% static '/plugins/fontawesome/css/fontawesome.min.css' %}">
      <link rel="stylesheet" href="{% static '/plugins/fontawesome/css/all.min.css' %}">
      <script src="https://kit.fontawesome.com/1b860bd700.js" crossorigin="anonymous"></script>
    <!-- Include a classic font -->
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
    <style>
      main {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>

<body class="bg-gradient-to-r from-gray-900 via-gray-700 to-gray-900 text-white font-serif">

{% block content %}

{% endblock content %}

</body>

</html>