{% extends "base.html" %}
{% load static %}
{% block content %}

    {% block nav %}
    
        {% include "navbar.html" %}
        
    {% endblock nav %}
    
    <script src="{% static "js/check_token.js" %}"></script>
 
    <style>
        main {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 20px;
        }

        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .card {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 16px;
            margin: 16px;
            width: 300px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center; /* Center content horizontally */
            justify-content: space-between;
        }

        /* Updated button styles to move it to the right side */
        button{
            position: absolute;
            top: 85px;
            right: 20px;
        }

    </style>

</head>

  {% include "create_room.html" %}
    
    <main>

        <div class="mb-4">
            <input type="text" placeholder="Search..." class="p-2 rounded-md border border-gray-400">
        </div>

        <div class="card-container">

        </div>

    </main>

    <script>
        $(document).ready(function () {

            const csrfToken = document.cookie.split('; ').find(row => row.startsWith('csrftoken=')).split('=')[1];

            const accessToken = localStorage.getItem("accessToken");
            const refreshToken = localStorage.getItem("refreshToken");
    
            $.ajax({
                url: 'http://127.0.0.1:8000/api/messenger/RoomsList/',
                type: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${accessToken}`
                },

                dataType: 'json',
                
                success: function (data) {

                    if (data.code === 200) {

                        const cardContainer = $(".card-container");

                        for (let i = 0; i < data.data.length; i++) {
                            const roomName = data.data[i].cr_name;
                            const roomDisc = data.data[i].cr_discription;
                
                            const description = roomDisc;
                
                            const card = $("<div class='card text-black'>");
                
                            card.append("<h2 class='text-xl font-semibold mb-2'>" + roomName + "</h2>");
                            card.append("<p>" + description + "</p></br>");
                
                            const joinLink = $("<a href='/api/messenger/simpleChat/" + roomName +"' class='bg-blue-500 text-white px-4 py-2 rounded-md'>Join</a>");

                            card.append(joinLink);
                
                            cardContainer.append(card);
                        }
                    }else{

                        window.location.href = "http://127.0.0.1:8000/api/messenger/signIn/";

                    }

                    if (data.code === 400) {

                        console.log("400 come");

                    }
                },
                error: function (error) {
                    console.error('Error:', error.message);
                }
            });
        });
    </script>
    
    
    <script>
        document.addEventListener('DOMContentLoaded', function(e){

            e.preventDefault()

            let getSignUpLink = document.getElementById("SignUpLink")
            let getSignInLink = document.getElementById("SignInLink")
            
            getSignUpLink.remove()
            getSignInLink.remove()

        })
    </script>
    {% endblock content %}

