<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>
<body>

    <h2>User Registration</h2>

    <form id="userRegistrationForm">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>

 
        <button type="button" onclick="registerUser()">Register</button>
    </form>

    <script>
        async function registerUser() {
            const form = document.getElementById('userRegistrationForm');
            const formData = new FormData(form);

            try {
                const response = await fetch('https://5dcb-150-107-118-139.ngrok-free.app/api/messenger/CreateOrGetUser/', {
                    method: 'POST',
                    body: formData,
                });

                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }

                const data = await response.json();
                console.log(data);
                if(data.code === 200){
                    
                }
            } catch (error) {
                console.error('Error:', error.message);
            }
        }
    </script>

</body>
</html>
