{% extends "base.html" %}
{% block content %}
<style>
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
    }
</style>
{% block nav %}
{% include "navbar.html" %}
{% endblock nav %}
<main>
    <div class="bg-gray-900 p-8 rounded-md shadow-md max-w-md text-white font-serif">
        <h2 class="text-3xl font-semibold mb-6">User Sign In</h2>

        <form id="userSignIn" class="space-y-4">
            {% csrf_token %}
            <div class="flex flex-col">
                <label for="username" class="text-lg">Username:</label>
                <input type="text" id="username" name="username" class="p-2 rounded-md text-black" required>
            </div>

            <div class="flex flex-col">
                <label for="password" class="text-lg">Password:</label>
                <input type="password" id="password" name="password" class="p-2 rounded-md text-black" required>
            </div>

            <button type="button" id="SignInUser" class="bg-blue-500 text-white px-4 py-2 rounded-md">Sign In</button>

            <div class="flex">
                <button id="googleLoginButton" class="bg-white text-gray-800 font-bold py-2 px-4 border rounded shadow focus:outline-none mb-8 mb-4" style="display: none;">
                  <div class="flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48px" height="48px">
                      <path fill="#FFC107" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"></path>
                      <path fill="#FF3D00" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"></path>
                      <path fill="#4CAF50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"></path>
                      <path fill="#1976D2" d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.350,43.611,20.083z"></path>
                    </svg>
                    Sign in with Google
                  </div>
                </button>
                <div id="userInfo" style="text-align: center; display: none;">
                  <small class="text-primary-600">User is logged as: <span id="username"></span></small>
                  <br>
                  <button id="logoutButton" class="bg-red-400 hover:bg-red-200 text-white font-semibold py-2 px-4 rounded mt-2">
                    Logout
                  </button>
                </div>
                <small id="notLoggedIn" class="text-primary-600" style="display: none;">Ops not Logged in yet</small>
              </div>
            
              <script>
                const REACT_APP_GOOGLE_CLIENT_ID = '590373011409-0905p9bgma16h4ulv6ln01retc7e31co.apps.googleusercontent.com';
                const REACT_APP_GOGGLE_REDIRECT_URL_ENDPOINT = "https://kwickchat.pythonanywhere.com/api/messenger/auth/login/google/";
        
                const googleLoginButton = document.getElementById('googleLoginButton');
                const userInfo = document.getElementById('userInfo');
                const username = document.getElementById('username');
                const notLoggedIn = document.getElementById('notLoggedIn');
                const logoutButton = document.getElementById('logoutButton');
        
                const storedUsername = localStorage.getItem('user_google');
                if (storedUsername) {
                    username.textContent = storedUsername;
                    googleLoginButton.style.display = 'none';
                    userInfo.style.display = 'block';
                    notLoggedIn.style.display = 'none';
                } else {
                    googleLoginButton.style.display = 'block';
                    userInfo.style.display = 'none';
                    notLoggedIn.style.display = 'block';
                }
        
                googleLoginButton.addEventListener('click', () => {
                    const googleAuthUrl = 'https://accounts.google.com/o/oauth2/v2/auth';
                    const scope = [
                        'https://www.googleapis.com/auth/userinfo.email',
                        'https://www.googleapis.com/auth/userinfo.profile',
                    ].join(' ');
                
                    const params = new URLSearchParams({
                        response_type: 'code',
                        client_id: REACT_APP_GOOGLE_CLIENT_ID,
                        redirect_uri: REACT_APP_GOGGLE_REDIRECT_URL_ENDPOINT,
                        prompt: 'select_account',
                        access_type: 'offline',
                        scope,
                    });
                
                    const url = `${googleAuthUrl}?${params}`;
                    window.location.href = url;
                });
                
                logoutButton.addEventListener('click', () => {
                    localStorage.clear();
                    username.textContent = '';
                    googleLoginButton.style.display = 'block';
                    userInfo.style.display = 'none';
                    notLoggedIn.style.display = 'block';
                });
                
            </script>


        </form>
    </div>
</main>

<!-- Toastify CSS and JS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

<script>
    async function signIn() {
        let userName = document.getElementById("username").value;
        let password = document.getElementById("password").value;
        const csrfToken = document.cookie.split('; ').find(row => row.startsWith('csrftoken=')).split('=')[1];

        let Jsondata = {
            "username": userName,
            "password": password
        };

        try {
            const response = await fetch('https://kwickchat.pythonanywhere.com/api/messenger/SignInUser/', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken,
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(Jsondata),
            });

            const data = await response.json();

            if (data.code === 200) {
                console.log(data.data);
                localStorage.setItem("accessToken", data.data.access);
                localStorage.setItem("refreshToken", data.data.refresh);
                window.location.href = "https://kwickchat.pythonanywhere.com/api/messenger/rooms/";
            } else if (data.code === 400) {
                Toastify({
                    text: data.message || "Wrong username or password",
                    backgroundColor: "rgba(238, 75, 43, 0.9)", textColor: "#EE4B2B",
                    duration: 3000,
                    close: true,
                    textColor: "#000000", // Black text color
                    stopOnFocus: true,
                }).showToast();
            }
        } catch (error) {
            console.error('Error:', error.message);
            Toastify({
                text: "An error occurred. Please try again later.",
                backgroundColor: "rgba(238, 75, 43, 0.9)", textColor: "#EE4B2B",
                duration: 3000,
                close: true,
                stopOnFocus: true,
                textColor: "#000000", // Black text color
            }).showToast();
        }
    }

    document.getElementById("SignInUser").addEventListener("click", signIn);
</script>

<script>
    document.addEventListener('DOMContentLoaded', function (e) {
        e.preventDefault();
        let getSignOutLink = document.getElementById("SignOutLink");
        let getRoomsLink = document.getElementById("RoomsLink");
        if (getSignOutLink) getSignOutLink.remove();
        if (getRoomsLink) getRoomsLink.remove();
    });
</script>
{% endblock content %}
